Analysis.py
AnalysisWeddellGlobal.py
calculus.py
CubeListExtract.py
MomVorDiagnostics.py
preprocess.py
streamfunction.py
.vscode/settings.json
exe/nohup_ENE.out
exe/nohup_ENS.out
exe/nohup.extra_interp.out
exe/VCAN.edit.py
exe/.ipynb_checkpoints/executable-checkpoint.py
exe/.ipynb_checkpoints/VCAN-checkpoint.py
exe/__pycache__/VCAN.cpython-37.pyc
exe/__pycache__/VCAN.cpython-38.pyc
int/plotting_article.ipynb
int/.ipynb_checkpoints/plotting_article-checkpoint.ipynb
int/.ipynb_checkpoints/plotting-checkpoint.ipynb
lib/VortDiagnostics.edit.py
lib/.ipynb_checkpoints/ContourInt-checkpoint.py
lib/.ipynb_checkpoints/VortDiagnostics-checkpoint.py
lib/__pycache__/CGridOperations.cpython-37.pyc
lib/__pycache__/CGridOperations.cpython-38.pyc
lib/__pycache__/ContourInt.cpython-38.pyc
lib/__pycache__/cube_prep.cpython-38.pyc
lib/__pycache__/VortDiagnostics.cpython-38.pyc
